.place-Container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    .paper-Place{
        .first-Container{
            display: flex;
            height: 50vh;
            .imagen1{
                width: 40vw;
                height: 100%;
            }
            .info-Container{
                width: 40vw;
                height: 100%;
                .place-Title{
                }
                .place-Description{
                    margin:10%;
                }
            }
        }
    }
    .second-Container{
        display: flex;
        height: 25vh;
        .imagen2{
            width: 20vw;
            height: 100%;
        }
        .imagen3{
            width: 20vw;
            height: 100%;
        }
        .paper2{
            width:40vw;
            height: 100%;
            .place-details{
                width: 20vw;
            }
            .place-action{
                width: 20vw;
            }
        }
    }
}