.Category{
    background-color: $background-color;
    .h3 {
        margin-top: 2.5rem;
        margin-bottom: 30px;
        color: $text-blue;
        font-weight: bold;
    }
    .Location-Cards{
        .Location-Card{
            width: 300px;
            margin: 20px;
            .h5{
            }
            .Card-Image{
                height: 200px;
            }
            .Book-Button{
                margin: 0 auto;
            }
        }    
    }
}
