.category-container {
  background-color: $background-color;
  min-height: 100vh;
  padding: 3rem 1rem;

  .h3 {
    color: $text-blue;
    font-weight: bold;
  }

  .places {
    .location-card {
      width: 300px;
      .card-image {
        height: 200px;
      }
      .link-button{
        margin: 0 auto;
        min-width: 100%;
        .book-button {
          margin: 0 auto;
        }
      }
    }
  }
}