.Fondo{
    height: 100vh;
    background-color: aliceblue;
    .Recovery-Card{
        height: 200px;
        width: 600px;
        .h4{
            
        }
        .input{
            
        }
        .Recover-Button{
            
        }
    }
}