.AboutUs{
    background-color: $primary-color;
    .h2{
        margin-top: 90px;
        margin-bottom: 90px;
        color: $text-white;
        font-weight: bold;
    }
    .AboutUs-Grid{
        .OneOfUs-Card{            
            margin-bottom: 30px;
            background-color: $text-white;
            width: 300px;
            .Card-Image{
                height: 300px;
            }
        }
    }
}