.Place{
    margin: 90px;
    .place-card{
        display: flex;
        width: 1000px;
        height: 500px;
        .card-image{
            height: auto;
            width: 500px;
        }
        .descripcion-place{
            margin-top: 50px;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 50px;
        }
    }
}