.not-found {
  height: auto;
  min-height: 100vh;
  padding: 1rem 0.8rem;
  margin-bottom: 1rem;
  color: $text-blue;
  .left-image,
  .right-image {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .left-image > img {
    height: auto;
    width: 95%;
    padding: 1rem;
    @media screen and (max-width: 899px) {
      display: none;
    }
  }

  .right-image {
    align-self: center;
    flex-direction: column;
    .right-paragraph {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 1rem;
    }
    @media screen and (max-width: 899px) {
      width: 100%;
      margin: 10px;
    }
  }
  .right-image > img {
    height: auto;
    width: 95%;
    display: block;
    object-fit: cover;
    background-origin: padding-box;
    background-attachment: scroll;
  }
}
